.login__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.login__form input {
    border: 1px solid var(--content-placeholder);
    border-radius: 8px;
    padding: 16px 16px 16px 52px;
    width: 100%;
    height: 56px;
    background-color: var(--background-white);
    font-weight: 400;
    font-size: 18px;
    line-height: 133%;
    color: var(--content-placeholder);
    background-position: 16px center;
    background-repeat: no-repeat;
    background-size: 24px 24px;
}

.login__password {
    margin-bottom: 12px;
}

.login__button {
    border: none;
    border-radius: 28px;
    padding: 16px 48px;
    width: 340px;
    height: 56px;
    background-color: var(--background-brand-active);
    font-weight: 700;
    font-size: 18px;
    line-height: 133%;
    color: var(--content-primary);
    margin-bottom: 24px;
}


.login__email {
    background-image: url('../../assets/mail.svg');
}

.login__password {
    background-image: url('../../assets/password.svg');
}