.card__wrapper {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    border-radius: 16px;
    cursor: pointer;
}