.hero__container {
    max-width: 1310px;
    width: 100%;
    margin: 0 auto;
    padding: 110px 15px;
}

.hero__section {
    position: relative;
    background-color: var(--background-black);
    z-index: 1;
}

.hero__background {
    position: absolute;
    top: -96px;
    right: 0;
    height: 671px;
    width: 62.5%;
    background-size: cover;
    background-position: center;
    z-index: -1; /* Фон будет под контентом секции */
    filter: brightness(0.6); /* Затемнение фона для контраста */
}

.hero__content {
    max-width: 600px;
    width: 100%;
    min-height: 356px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}


.hero__year,
.hero__time,
.hero__genre {
    font-weight: 400;
    font-size: 18px;
    line-height: 133%;
    color: var(--content-secondary)
}

.hero__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 117%;
    color: var(--content-primary);
}

.hero__shortdescr {
    font-weight: 400;
    font-size: 24px;
    line-height: 133%;
    color: var(--content-secondary);
}

.hero__error {
    font-weight: 400;
    font-size: 24px;
    line-height: 133%;
    color: var(--content-secondary);
    text-align: center;
}

.hero__main_rate {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
}

.hero__genre:not(:last-child) {
    margin-right: 10px;
}

.hero__information {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.hero__button_wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
}


@media (max-width: 700px) {
    .hero__container {
        display: flex;
        flex-direction: column;
        padding: 0 15px;
    }

    .hero__content {
        order: 2;
    }

    .hero__background {
        position: static;
        height: 430px;
        order: 1;
        width: 100%;
        z-index: 1;
        margin-bottom: 20px;
    }

    .hero__main_rate {
        flex-wrap: wrap;
    }

}

@media (max-width: 510px) {
    .hero__button_wrapper {
        flex-wrap: wrap;
    }

    .hero__background {
        height: 260px;
    }

    .hero__title {
        font-size: 24px;
        line-height: 133%;
    }

    .hero__shortdescr {
        font-size: 18px;
        
    }
}

@media (max-width: 380px) {
    .hero__button_wrapper {
        column-gap: 10px;
    }
}